/* tab buttons */

.about-block__buttons {
  display: flex;
  border-bottom: 1px solid var(--colour-text-grey);
}

/* tab button */

.about__button {
  transition: all 0.3s;
  border-top-left-radius: var(--border-radius-m);
  border-top-right-radius: var(--border-radius-m);
  border: none;
  border-bottom: none;
  color: var(--colour-text-dark);
  padding: var(--spacing-m) var(--spacing-l);
}

.about__button:hover {
  background-color: var(--colour-background-light);
}

.about__button--active {
  background-color: var(--colour-primary);
  color: var(--colour-text-light);
}

.about__button--active:hover {
  background-color: var(--colour-primary);
}

/* tab content */

.about__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-s);
  display: none;
}

@media (min-width: 1024px) {
  .about__content {
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xs);
  }
}

.about__content--active {
  display: flex;
}

.about__text {
  flex: 1;
}

.about__textTeam,
.about__textApp {
  color: var(--colour-text-dark);
  text-align: center;
}

.about__image {
  margin: var(--spacing-s);
  max-width: 30rem;
  flex: 1;
}

.about__image img {
  border-radius: var(--border-radius-m);
  width: 100%;
}
