@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  --border-dark: 2px solid var(--colour-background-dark);
  --border-light: 2px solid var(--colour-background-light);
  --border-primary: 2px solid var(--colour-primary);

  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 20px;

  --border-style-dashed: dashed;
  --border-dashed: 4px dashed rgba(0, 0, 0, 0.1);

  --border-width-s: 2px;
  --border-width-m: 3px;
  --border-width-l: 4px;
  --border-width-xl: 6px;
  --border-width-xs: 1px;

  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  --colour-background-dark: #7d7d7d;
  --colour-background-light: #e7e7e7;
  --colour-background-white: #ffffff;
  --colour-primary: #7f2fee;
  --colour-secondary: #ff0080;
  --colour-text-dark: #1b1c22;
  --colour-text-grey: #6e6e6e;
  --colour-text-light: #ffffff;

  --font-family-body: "Roboto", sans-serif;
  --font-size-body: 16px;
  --font-size-heading: 48px;
  --font-size-l: 26px;
  --font-size-m: 20px;
  --font-size-s: 12px;
  --font-size-subheading: 24px;
  --font-size-xl: 28px;
  --font-size-xxl: 32px;
  --font-weight-bold: bold;

  --height-xs: 100px;
  --height-s: 200px;
  --height-m: 300px;
  --height-l: 400px;
  --height-xl: 500px;
  --height-xxl: 600px;
  --height-xxxl: 690px;
  --height-full: 100%;

  --image-height-xs: 80px;
  --image-height-s: 120px;
  --image-height-m: 150px;
  --image-height-l: 200px;
  --image-height-xl: 250px;
  --image-height-xxl: 300px;

  --image-width-xs: 100px;
  --image-width-s: 150px;
  --image-width-l: 250px;
  --image-width-m: 200px;
  --image-width-xl: 300px;
  --image-width-full: 100%;

  --line-height-xs: 16px;
  --line-height-s: 20px;
  --line-height-m: 24px;
  --line-height-l: 28px;
  --line-height-xl: 32px;
  --line-height-xxl: 36px;
  --line-height-xxxl: 40px;
  --line-height-xxxxl: 48px;
  --line-height-xxxxxl: 64px;

  --margin-auto: 0 auto;

  --margin-m: 20px;
  --margin-s: 12px;
  --margin-l: 40px;
  --margin-xl: 80px;
  --margin-xs: 8px;
  --margin-xxl: 400px;

  --padding-horizontal: 0 50px;
  --padding-xs: 4px 8px;
  --padding-s: 8px 12px;
  --padding-l: 16px 32px;
  --padding-m: 12px 20px;
  --padding-xl: 20px 40px;

  --padding-xxl: 24px 48px;
  --padding-zero: 0;

  --spacing-xs: 8px;
  --spacing-s: 10px;
  --spacing-m: 15px;
  --spacing-l: 20px;
  --spacing-xl: 40px;
  --spacing-xxl: 80px;

  --width-xs: 100px;
  --width-s: 200px;
  --width-l: 400px;
  --width-m: 300px;
  --width-max: 800px;
  --width-xl: 500px;
  --width-xxl: 650px;
  --width-xxxl: 800px;
  --width-xxxxl: 1000px;
  --width-full: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: var(--font-family-body);
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #1b0b36;
}

/* Text Styles */
h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    font-size: 24px;
    line-height: 36px;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 56px;
    line-height: 64px;
  }
}

/* Loading Spinner */
.search__loading {
  display: none;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: green #0000;
  animation: l1 1s infinite;
  margin: 2rem auto;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

.search__loading.is-loading {
  display: block;
}
