/* Header */
.header {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2168%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2169%26quot%3b)'%3e%3c/rect%3e%3cpath d='M -356.45165902177064%2c145 C -320.45%2c192.6 -248.45%2c365.2 -176.45165902177067%2c383 C -104.45%2c400.8 -68.45%2c236.2 3.5483409782293336%2c234 C 75.55%2c231.8 111.55%2c368 183.54834097822933%2c372 C 255.55%2c376 291.55%2c260.8 363.54834097822936%2c254 C 435.55%2c247.2 471.55%2c363.6 543.5483409782294%2c338 C 615.55%2c312.4 651.55%2c124.2 723.5483409782294%2c126 C 795.55%2c127.8 831.55%2c329 903.5483409782294%2c347 C 975.55%2c365 1011.55%2c216.8 1083.5483409782294%2c216 C 1155.55%2c215.2 1192.26%2c358.2 1263.5483409782294%2c343 C 1334.84%2c327.8 1404.71%2c180.6 1440%2c140' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -347.5210601931229%2c233 C -311.52%2c254.2 -239.52%2c333.4 -167.52106019312288%2c339 C -95.52%2c344.6 -59.52%2c266.2 12.478939806877122%2c261 C 84.48%2c255.8 120.48%2c323.4 192.47893980687712%2c313 C 264.48%2c302.6 300.48%2c212 372.4789398068771%2c209 C 444.48%2c206 480.48%2c291.2 552.4789398068772%2c298 C 624.48%2c304.8 660.48%2c220.8 732.4789398068772%2c243 C 804.48%2c265.2 840.48%2c423.6 912.4789398068772%2c409 C 984.48%2c394.4 1020.48%2c166.8 1092.4789398068772%2c170 C 1164.48%2c173.2 1202.97%2c423 1272.4789398068772%2c425 C 1341.98%2c427 1406.5%2c229 1440%2c180' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -207.79971927441923%2c175 C -171.8%2c223.4 -99.8%2c396.2 -27.79971927441923%2c417 C 44.2%2c437.8 80.2%2c285.6 152.20028072558077%2c279 C 224.2%2c272.4 260.2%2c399.6 332.2002807255808%2c384 C 404.2%2c368.4 440.2%2c202 512.2002807255808%2c201 C 584.2%2c200 620.2%2c385 692.2002807255808%2c379 C 764.2%2c373 800.2%2c189.8 872.2002807255808%2c171 C 944.2%2c152.2 980.2%2c274.8 1052.2002807255808%2c285 C 1124.2%2c295.2 1160.2%2c214.6 1232.2002807255808%2c222 C 1304.2%2c229.4 1370.64%2c321.2 1412.2002807255808%2c322 C 1453.76%2c322.8 1434.44%2c245.2 1440%2c226' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -238.80925823436934%2c368 C -202.81%2c329.2 -130.81%2c177.4 -58.809258234369324%2c174 C 13.19%2c170.6 49.19%2c335.6 121.19074176563068%2c351 C 193.19%2c366.4 229.19%2c234.6 301.19074176563066%2c251 C 373.19%2c267.4 409.19%2c456.2 481.19074176563066%2c433 C 553.19%2c409.8 589.19%2c140.6 661.1907417656307%2c135 C 733.19%2c129.4 769.19%2c389.6 841.1907417656307%2c405 C 913.19%2c420.4 949.19%2c232.4 1021.1907417656307%2c212 C 1093.19%2c191.6 1129.19%2c302.8 1201.1907417656307%2c303 C 1273.19%2c303.2 1333.43%2c213.2 1381.1907417656307%2c213 C 1428.95%2c212.8 1428.24%2c284.2 1440%2c302' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -67.19062813480656%2c182 C -31.19%2c207.2 40.81%2c300.6 112.80937186519344%2c308 C 184.81%2c315.4 220.81%2c193.2 292.80937186519344%2c219 C 364.81%2c244.8 400.81%2c428.4 472.80937186519344%2c437 C 544.81%2c445.6 580.81%2c277.2 652.8093718651935%2c262 C 724.81%2c246.8 760.81%2c363.2 832.8093718651935%2c361 C 904.81%2c358.8 940.81%2c250.4 1012.8093718651935%2c251 C 1084.81%2c251.6 1120.81%2c369.4 1192.8093718651935%2c364 C 1264.81%2c358.6 1300.81%2c230.2 1372.8093718651935%2c224 C 1444.81%2c217.8 1539.37%2c330.8 1552.8093718651935%2c333 C 1566.25%2c335.2 1462.56%2c254.6 1440%2c235' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2168'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2169'%3e%3cstop stop-color='rgba(17%2c 35%2c 54%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 48%2c 110%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  color: var(--colour-text-light);
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xxl);
  border-bottom: 1px solid var(--colour-text-light);
}

.header__content {
  width: 60%;
  max-width: var(--width-max);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-l);
}

@media (min-width: 768px) {
  .header__content {
    flex-direction: row;
  }
}

.logo__image {
  margin-top: 35px;
  margin-bottom: 20px;
  width: 10rem;
}

@media (min-width: 1024px) {
  .logo__image {
    width: 12rem;
  }
}

/* header nav */

.header__nav {
  border-bottom: 1px solid var(--colour-text-light);
  padding-bottom: 5px;
  display: flex;
  gap: var(--spacing-l);
  margin-top: var(--spacing-l);
}

@media (min-width: 768px) {
  .header__nav {
    margin-top: 0;
  }

}

.header__link {
  color: var(--colour-text-light);
  text-decoration: none;
  position: relative;
}

.header__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  border-bottom: 2px solid var(--colour-text-light);
  opacity: 0;
  transition: all 0.25s;
}

.header__link:hover::after,
.header__link--active::after {
  opacity: 1;
}

/* header titles */

.header__titles {
  
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
}

.header__subtitle {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
