.main {
  padding: var(--spacing-l);
  max-width: var(--width-max);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(-1 * var(--spacing-xl));
  background: var(--colour-background-white);
}

@media (min-width: 768px) {
  .main {
    border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
  }
}

.main__title {
  text-align: center;
}

.main__subtitle {
  color: var(--colour-primary);
}

.main__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-l);
  padding: var(--spacing-s);
}

@media (min-width: 1024px) {
  .main__cards {
    flex-direction: row;
  }
}

.divider {
  border: none;
  border-top: 4px dashed rgba(0, 0, 0, 0.1);
  margin: var(--spacing-m);
}

@media (min-width: 1024px) {
  .divider {
    margin-bottom: var(--spacing-l);
  }
}

.main__image {
  width: 100%;
  border-radius: var(--border-radius-m);
}

@media (min-width: 1024px) {
  .main__image,
  .main__textleft,
  .main__textright {
    flex: 1;
  }
}

.main__button {
  background-color: var(--colour-primary);
  color: var(--colour-text-light);
  font-size: var(--font-size-body);
  padding: var(--spacing-m) var(--spacing-m);
  border: 1px solid var(--colour-primary);
  border-radius: var(--border-radius-s);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  width: 10rem;
}

.main__button:hover {
  background-color: var(--colour-background-white);
  color: var(--colour-primary);
}

.main__button a {
  text-decoration: none;
  color: inherit;  
}
